dist
node_modules
.idea
.history
test-results
playwright-report
.env

# ignore all screenshots except for the platform running the CI pipeline.
packages/documentation/tests/screenshots/*
!packages/documentation/tests/screenshots/linux