name: ci

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

env:
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          cache: "npm"
      - name: Install Dependencies
        run: npm ci
      - name: Lint Project
        run: npm run lint
      - name: Build Package
        run: npm run build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build_artifacts
          path: |
            packages/**/dist/**
            **/package.json
            **/README.md
            **/CHANGELOG.md
            !**/node_modules/**

  visual-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          cache: "npm"
      - name: Install Dependencies
        run: npm ci
      - name: Install playwright browsers
        run: npx playwright install --with-deps
      - name: Build Package
        run: npm run build
      - name: Run Visual Tests
        run: npm run visual-test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: packages/documentation/playwright-report/
          retention-days: 30

  deploy-pages:
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    needs:
      - build
      - visual-test
    steps:
      - name: Download previous build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build_artifacts
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: packages/documentation/dist/
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4

  release:
    permissions:
      id-token: write # for trusted publishing via OIDC
      contents: write # for creating releases (changesets/action)
      issues: write # for posting issue comments (changesets/action)
      pull-requests: write # for creating pull requests (changesets/action)
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    concurrency: ${{ github.workflow }}-${{ github.ref }}
    needs:
      - build
      - visual-test
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          cache: "npm"
      - name: Install Dependencies
        run: npm ci
      - name: Download previous build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build_artifacts
      - name: Version and/or Publish Package
        uses: changesets/action@v1
        with:
          publish: npm run release
          version: npm run version
          commit: "ci: release package"
          title: "ci: release package"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
